.background {
    -fx-background-color: #1d1d1d;
}

.split-pane *.split-pane-divider {
    -fx-padding: 0 1 0 1;
}

.split-pane {
    -fx-background-color: #FFFFFF;
}

.text-field {
    -fx-background-color: azure;
}

.text-info {
    -fx-background-color: beige;
    -fx-alignment: top-left;
    -fx-padding: 5px;
}